{% extends 'base.html' %}

{% load form_field_tags %}

{% block content %}
    <h2 class="mb-6 text-3xl">
        {% if property.id %}
            Edit Property
        {% else %}
            Add New Property
        {% endif %}
    </h2>
    <form method="post" class="max-w-6xl space-y-6" novalidate>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.addr_line_1 3 %}
            {% form_input form.addr_line_2 3 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.addr_city 2 %}
            {% form_input form.addr_state 2 %}
            {% form_input form.addr_zip 2 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.description 4 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.property_type 2 %}
            {% form_input form.company 2 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.square_feet 2 %}
            {% form_input form.key_number 2 %}
            {% form_input form.date_built 2 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.taxes 2 %}
            {% form_input form.insurance 2 %}
        </div>
        {% form_button_row 'properties:property-list' %}
    </form>
{% endblock content %}