{% extends 'base.html' %}

{% load form_field_tags %}

{% block content %}
    <h2 class="mb-6 text-3xl">
        {% if unit.id %}
            Edit Unit
        {% else %}
            Add New Unit
        {% endif %}
    </h2>
    <form method="post" class="max-w-6xl space-y-6" novalidate>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.addr_line_1 3 %}
            {% form_input form.addr_line_2 3 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.parent_property 2 %}
            {% form_input form.unit_status 2 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.rent 2 %}
            {% form_input form.square_feet 2 %}
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            {% form_input form.unit_taxes 2 %}
            {% form_input form.unit_insurance 2 %}
        </div>
        {% form_checkbox form.calculate_tax_and_ins %}
        {% form_button_row 'units:unit-list' %}
    </form>

    <script>
        const calculateTaxesCheckbox = document.getElementById("{{ form.calculate_tax_and_ins.id_for_label }}");
        const taxesInput = document.getElementById("{{ form.unit_taxes.id_for_label }}");
        const insuranceInput = document.getElementById("{{ form.unit_insurance.id_for_label }}");

        const setInputState = () => {
            if (calculateTaxesCheckbox.checked) {
                taxesInput.readOnly = true;
                taxesInput.classList.add("bg-gray-200");
                insuranceInput.classList.add("bg-gray-200");
            } else {
                taxesInput.readOnly = false;
                taxesInput.classList.remove("bg-gray-200");
                insuranceInput.classList.remove("bg-gray-200");
            }
        };

        calculateTaxesCheckbox.addEventListener("change", () => {
            setInputState();
        });

        setInputState();
    </script>
{% endblock content %}