{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-6 text-3xl">
        {% if tenant.id %}
            Edit Tenant
        {% else %}
            Add New Tenant
        {% endif %}
    </h2>
    <form method="post" class="max-w-6xl space-y-6" novalidate>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-4 space-y-1">
                <label for="{{ form.contact_person.id_for_label }}">{{ form.contact_person.label }}</label>
                {{ form.contact_person }}
                {% if form.contact_person.errors %}
                    {% for error in form.contact_person.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.contact_person.help_text %}
                    <p class="text-sm text-gray-500">{{ form.contact_person.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.unit.id_for_label }}">{{ form.unit.label }}</label>
                {{ form.unit }}
                {% if form.unit.errors %}
                    {% for error in form.unit.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.unit.help_text %}
                    <p class="text-sm text-gray-500">{{ form.unit.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                {{ form.phone }}
                {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.phone.help_text %}
                    <p class="text-sm text-gray-500">{{ form.phone.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.work_phone.id_for_label }}">{{ form.work_phone.label }}</label>
                {{ form.work_phone }}
                {% if form.work_phone.errors %}
                    {% for error in form.work_phone.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.work_phone.help_text %}
                    <p class="text-sm text-gray-500">{{ form.work_phone.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.cell_phone.id_for_label }}">{{ form.cell_phone.label }}</label>
                {{ form.cell_phone }}
                {% if form.cell_phone.errors %}
                    {% for error in form.cell_phone.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.cell_phone.help_text %}
                    <p class="text-sm text-gray-500">{{ form.cell_phone.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.fax.id_for_label }}">{{ form.fax.label }}</label>
                {{ form.fax }}
                {% if form.fax.errors %}
                    {% for error in form.fax.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.fax.help_text %}
                    <p class="text-sm text-gray-500">{{ form.fax.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.email.help_text %}
                    <p class="text-sm text-gray-500">{{ form.email.help_text|safe }}</p>
                {% endif %}
            </div>

        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
                {{ form.date_of_birth }}
                {% if form.date_of_birth.errors %}
                    {% for error in form.date_of_birth.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.date_of_birth.help_text %}
                    <p class="text-sm text-gray-500">{{ form.date_of_birth.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.ssn.id_for_label }}">{{ form.ssn.label }}</label>
                {{ form.ssn }}
                {% if form.ssn.errors %}
                    {% for error in form.ssn.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.ssn.help_text %}
                    <p class="text-sm text-gray-500">{{ form.ssn.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.company_name.id_for_label }}">{{ form.company_name.label }}</label>
                {{ form.company_name }}
                {% if form.company_name.errors %}
                    {% for error in form.company_name.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.company_name.help_text %}
                    <p class="text-sm text-gray-500">{{ form.company_name.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.alternate_company_1.id_for_label }}">{{ form.alternate_company_1.label }}</label>
                {{ form.alternate_company_1 }}
                {% if form.alternate_company_1.errors %}
                    {% for error in form.alternate_company_1.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.alternate_company_1.help_text %}
                    <p class="text-sm text-gray-500">{{ form.alternate_company_1.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.alternate_company_2.id_for_label }}">{{ form.alternate_company_2.label }}</label>
                {{ form.alternate_company_2 }}
                {% if form.alternate_company_2.errors %}
                    {% for error in form.alternate_company_2.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.alternate_company_2.help_text %}
                    <p class="text-sm text-gray-500">{{ form.alternate_company_2.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-3 space-y-1">
                <label for="{{ form.addr_line_1.id_for_label }}">{{ form.addr_line_1.label }}</label>
                {{ form.addr_line_1 }}
                {% if form.addr_line_1.errors %}
                    {% for error in form.addr_line_1.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.addr_line_1.help_text %}
                    <p class="text-sm text-gray-500">{{ form.addr_line_1.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-3 space-y-1">
                <label for="{{ form.addr_line_2.id_for_label }}">{{ form.addr_line_2.label }}</label>
                {{ form.addr_line_2 }}
                {% if form.addr_line_2.errors %}
                    {% for error in form.addr_line_2.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.addr_line_2.help_text %}
                    <p class="text-sm text-gray-500">{{ form.addr_line_2.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.addr_city.id_for_label }}">{{ form.addr_city.label }}</label>
                {{ form.addr_city }}
                {% if form.addr_city.errors %}
                    {% for error in form.addr_city.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.addr_city.help_text %}
                    <p class="text-sm text-gray-500">{{ form.addr_city.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.addr_state.id_for_label }}">{{ form.addr_state.label }}</label>
                {{ form.addr_state }}
                {% if form.addr_state.errors %}
                    {% for error in form.addr_state.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.addr_state.help_text %}
                    <p class="text-sm text-gray-500">{{ form.addr_state.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.addr_zip.id_for_label }}">{{ form.addr_zip.label }}</label>
                {{ form.addr_zip }}
                {% if form.addr_zip.errors %}
                    {% for error in form.addr_zip.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.addr_zip.help_text %}
                    <p class="text-sm text-gray-500">{{ form.addr_zip.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.move_in_date.id_for_label }}">{{ form.move_in_date.label }}</label>
                {{ form.move_in_date }}
                {% if form.move_in_date.errors %}
                    {% for error in form.move_in_date.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.move_in_date.help_text %}
                    <p class="text-sm text-gray-500">{{ form.move_in_date.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.move_out_date.id_for_label }}">{{ form.move_out_date.label }}</label>
                {{ form.move_out_date }}
                {% if form.move_out_date.errors %}
                    {% for error in form.move_out_date.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.move_out_date.help_text %}
                    <p class="text-sm text-gray-500">{{ form.move_out_date.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-2 space-y-1">
                <label for="{{ form.lease_begin_date.id_for_label }}">{{ form.lease_begin_date.label }}</label>
                {{ form.lease_begin_date }}
                {% if form.lease_begin_date.errors %}
                    {% for error in form.lease_begin_date.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.lease_begin_date.help_text %}
                    <p class="text-sm text-gray-500">{{ form.lease_begin_date.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-span-2 space-y-1">
                <label for="{{ form.lease_end_date.id_for_label }}">{{ form.lease_end_date.label }}</label>
                {{ form.lease_end_date }}
                {% if form.lease_end_date.errors %}
                    {% for error in form.lease_end_date.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.lease_end_date.help_text %}
                    <p class="text-sm text-gray-500">{{ form.lease_end_date.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="space-y-6 lg:space-y-0 lg:grid lg:grid-cols-6 lg:gap-6">
            <div class="col-span-4 space-y-1">
                <label for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
                {{ form.notes }}
                {% if form.notes.errors %}
                    {% for error in form.notes.errors %}
                        <p class="px-2 py-1 bg-red-100 text-red-600 rounded">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.notes.help_text %}
                    <p class="text-sm text-gray-500">{{ form.notes.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="pt-6 flex items-center gap-4">
            <a
                href="{% url 'tenants:tenant-list' %}"
                class="btn btn-cancel"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
                </svg>
                Cancel
            </a>
            <button
                type="submit"
                class="btn btn-primary"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
                Save
            </button>
        </div>
    </form>
{% endblock content %}